@import '../../scss/lib/mediaqueries';

.listFlex {
    width: 100%;
    height: 200px;
}

.listBox {
    display: flex;
    gap: .8rem;
    height: 140px;
    @include tablet {
        height: 180px;
    }

    @include desktop {
        height: 200px;
    }
}

.imgBx {
    width: 30%;
    @include tablet {
        width: 20%;
    }

}

img {
    width: 100%;
    height: 100%;
}

.itemContent {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: .8rem;
}

.itemTitle {
    font-size: 1.4rem;
    @include desktop {
        font-size: 1.8rem;
    }
}

.itemSubtitle {
    font-size: 1.2rem;
    @include desktop {
        font-size: 1.4rem;
    }
}