@import '../../scss/lib/mediaqueries';

.cardContainer {
    width: 100%;
    height: 100%;
}

.divider {
    width: 100%;
    height: 20vh;
    margin-bottom: 2rem;
    background-color: #000;
    background-image: url('https://images.unsplash.com/photo-1556035511-3168381ea4d4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bmlnaHQlMjBiYXJ8ZW58MHx8MHx8&w=1000&q=80');
    background-repeat: no-repeat;
}

.cardContainer__content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.cardContainer__grid {
    display: grid;
    grid-template-columns: 380px;
    justify-content: center;
    @include tablet {
        grid-template-columns: repeat(3, 380px);
    }
}

.cardContainer__box {
    width: 340px;
    margin: 20px;
    box-shadow: 0px 5px 35px rgba(0,0,0,0.08);
}

.cardContainer__title {
    font-size: 2rem;
    color: #000;
    text-decoration: none;
    font-weight: 400;
    & span {
        font-size: 2.4rem;
        color: #ff0157;
        font-weight: 700;
    }
}

.cardContainer__boxText {
    padding: 10px 0px 5px 10px;
    & h3 {
        font-weight: 440;
        color: #111;
    }
}

.cardContainer__imgBx {
    position: relative;
    width: 100%;
    height: 300px;
}

.cardContainer__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardContainer__btn {
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: all 300ms;
    cursor: pointer;
    &:hover {
        letter-spacing: 5px;
    }
}

.cardContainer__titleBox {
    text-align: center;
}

.none {
    display: 'none'
}

.cardContainer__gridColumn {
        grid-column: 1 / 3;
    @include tablet {
        grid-column: 2 / 3;
    }
}

.searchContainer__searchBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 40px;
    padding: .2rem;
    @include tablet {
        width: 30%;
    }
}

.searchContainer__search {
    width: 100%;
    opacity: 1;
    padding: .6rem;
    border: none;
    outline: none;
    border-radius: 16px 4px 16px 4px;
    background-color: #333;
    color: #FFF;
    transition: 1s all ease;
    &::placeholder {
        color: #FFF;
    }
}

.searchContainer__searchBoxActive {
    padding: .4rem;
    border: none;
    outline: none;
    border-radius: 50px;
    width: 0%;
    opacity: 0;
    transition: 1s all ease;
}

.searchContainer__searchIcon {
    width: 40px;
    height: 40px;
    cursor: pointer;
}