@import '../../scss/lib/mediaqueries';

.cardContainer {
    width: 100%;
    margin: 4rem 0;
}

.cardContainer__content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cardContainer__grid {
    display: grid;
    grid-template-columns: 380px;
    justify-content: center;
    @include tablet {
        grid-template-columns: repeat(2, 380px);
    }
}

.cardContainer__title {
    font-size: 2rem;
    color: #000;
    text-decoration: none;
    font-weight: 400;
    & span {
        font-size: 2.4rem;
        color: #ff0157;
        font-weight: 700;
    }
}


.cardContainer__btn {
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: all 300ms;
    cursor: pointer;
    &:hover {
        letter-spacing: 5px;
    }
}

.cardContainer__titleBox {
    text-align: center;
}